services:
  mom1:
    image: sebastianjimenez30/mom_server
    container_name: mom2
    command: ["0.0.0.0", "/data", "50052"]
    ports:
      - "50052:50052"
    volumes:
      - ./mom/data/mom2:/data
