
services:
  mom1:
    image: sebastianjimenez30/mom_server
    container_name: mom1
    command: ["0.0.0.0", "/data", "50051"]
    ports:
      - "50051:50051"
    volumes:
      - ./mom/data/mom1:/data
