services:
  mom1:
    image: sebastianjimenez30/mom_server
    container_name: mom3
    command: ["0.0.0.0", "/data", "50053"]
    ports:
      - "50053:50053"
    volumes:
      - ./mom/data/mom3:/data
    restart: always